.header {
  padding: 10px 0;
  background-color: #e7e6ec;
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  &__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__tel {
    position: relative;
    z-index: 10;
  }

}

.menu{
  &__btn{
    width: 23px;
    height: 17px;
  }
}

.nav{
  display: none;
}

