-
    var menu = [
        {
            title: 'Запись на прием',
            href: '#callme'
        },
        {
            title: 'Клиники',
            href: '#clinics'
        },
        {
            title: 'Услуги',
            href: '#servs'
        },
        {
            title: 'оставить отзыв',
            href: '#',
            dopClass: 'jsAddRev'
        },
        {
            title: 'Добавить клинику',
            href: '#',
            dopClass: 'jsAddClinic'
        },
        {
            title: 'политика',
            href: '#',
            dopClass: 'jsOpenPolicy'
        },

    ];
-
    var servs = ['Анализы','УЗИ','Исследования','МРТ','КТ'];
-
    var servList = ['крови','мочи','генетические'];
-
    var edgesSlides = [
        'Доктор все доступно и понятно объяснила. Клиника оказалась в моем районе, в 15 мин ходьбы от офиса. Посетил врача во время обеденного перерыва.',
        'В некоторых клиниках действуют выгодные условия на первичном прием врача, если записываешься через Центр записи.',
        'Записался сразу к 3 стоматологам, в разные клиники рядом с домом, проконсультировался и прошел осмотры бесплатно, а выбрал лучшее предложение по цене.'
    ];
-
    var edgesList = [
        {
            title: 'Быстро',
            desc: '500 клиник в Москве, в 5 мин хотбы от метро'
        },
        {
            title: 'Недорого',
            desc: 'скидки до 50% на прием специалиста'
        },
        {
            title: 'Качественно',
            desc: 'работает служба контроля качества'
        },

    ];
-
    var searchList = [
        {
            color: '#e42518',
            title: 'Воробьёвы горы',
        },
        {
            color: '#4baf4f',
            title: 'Павелецкая',
        },
        {
            color: '#ef7e24',
            title: 'Третьяковская',
        },
        {
            color: '#0572b9',
            title: 'Смоленская',
        },
        {
            color: '#943f90',
            title: 'Щукинская',
        }
    ];